SITE_URL=http://localhost:3000
SPOTIFY_PLAYLIST_URL=https://open.spotify.com/playlist/1QflIwJwCzmeRhomSnSAld?si=26316d2ee9394deb
APPLE_MUSIC_PLAYLIST_URL=https://music.apple.com/us/playlist/pop-punk-queso/pl.u-BNA6rvVsv97Ea
ANALYTICS_ENDPOINT=/track
TELEMETRY_ENABLED=true
POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_API_KEY=
