<% stacked = local_assigns.fetch(:stacked, false) %>
<% classes = stacked ? "flex flex-col gap-3 sm:flex-row" : "flex flex-wrap gap-3" %>
<div class="<%= classes %>">
  <%= link_to platform_urls[:spotify], class: platform_link_classes(primary: true), target: "_blank", rel: "noopener", data: { analytics_event: "click_external_platform_link", analytics_props: { platform: "spotify", placement: "shared_platform_buttons" }.to_json } do %>
    Spotify
  <% end %>

  <%= link_to platform_urls[:apple_music], class: platform_link_classes, target: "_blank", rel: "noopener", data: { analytics_event: "click_external_platform_link", analytics_props: { platform: "apple_music", placement: "shared_platform_buttons" }.to_json } do %>
    Apple Music
  <% end %>

</div>
